
.hourRow {
    display: flex;
    align-items: center;
    margin: 2px 2px; 
    padding: 2px 4px; 
    font-size: 1.5rem; 
    justify-content: center;
}

.hourlyWeatherP {
    margin: 0; 
    padding: 0; 
    white-space: nowrap; 
}

.icon {
    width: 40px; 
    height: 40px; 
}

.dailyF{
    margin-right: 15px;
}